*{margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-size:0.9rem; font-family: "微软雅黑", "Microsoft Yahei", "宋体", Tahoma, 'Simsun', Arial, Helvetica, sans-serif;}
ul{list-style-type:none}
span{display:inline-block}
a,button,input,textarea,.downup-div{-webkit-tap-highlight-color: rgba(0,0,0,0);}
img{border:0; vertical-align:bottom;}